/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin:0;
  padding:0;
  color: #666666;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -32px;
  /* Pad bottom by footer height */
  padding: 0 0 32px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 32px;
  background-color: #f5f5f5;
  padding: 7px;
}

#wrap > .container {
  padding: 32px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

a.logo {
font-family: Tahoma, sans-serif;
line-height: 1em;
color: #fff9d6;
font-weight:bold;
font-size: 140%;
letter-spacing:0.5px;
}

.no-padding-top {
  margin-top: 0px; !important; 
}
 .no-padding-bottom {
  margin-bottom: 0px; !important; 
}

/* PA report top 
-------------------------------------------------- */

h1.main_h {
float: left;
margin-top: 16px;
margin-right: 40px;
}

div.analyzedurl {
float: left;
margin-top: 28px;
}
div.refresh_report {
float: right;
}

.formdrop {
padding: 30px;
height: 100px;
}


/* PA report 
-------------------------------------------------- */

/* g rankings*/
.g { font-size: 80%;color: green;font-style:italic;background-color: #efefef;cursor:help;}


/* forms
-------------------------------------------------- */
.form_widget_amount_slider{border-top:1px solid #9d9c99;border-left:1px solid #9d9c99;
border-bottom:1px solid #eee;border-right:1px solid #eee;background-color:#f0ede0;height:3px;position:absolute;bottom:0px;width:200px;}



/* Ranks sub  styles
-------------------------------------------------- */
.captcha_img {margin: -11px;}
.vpad {margin-top: 10px; margin-bottom: 10px;}
.green { color: green; }
.orange { color: orange; }
.red { color: red; }
.lightgrey { color: #e6e6e6; }
.grey { color: #efefef; }
.darkgrey { color: #cccccc; }
.lightblue { color: #94c9ff }
.tip {cursor: pointer; vertical-align: middle;}
.small_font {font-size: 80%;}
.border_bottom {border-bottom: 1px solid #efefef;}
div.more_info {font-size: 80%;}
span.title {color: #069;}
.shadow_light { box-shadow: 0 2px 4px rgba(0, 0, 0, .2); }
.shadow { box-shadow: 0 4px 8px rgba(0, 0, 0, .2); }
.ajax_loading { }
img.screendump {margin: 20px; max-width: 300px;}
form .slider {padding: 5px;}

/*  webgui things  */
.articleContent {
padding: 10px;
}

/* audit */
.audit {
	background-color: #fff;
	width: 200px;
	float: right;
	min-width: 200px;
	max-width: 200px;
	list-style: none;
	border: solid 1px #DDD;
	border: solid 1px rgba(0, 0, 0, .2);
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	overflow: visible;
	padding: 4px;
	margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
}
div.audit_long {background-color: #FEFCE5;padding: 5px;margin: 5px;width: 100%;border: 1px dotted #ccc;float: right;}
.morelink_audit_long > i.tip {padding-left: 2px;}

div.audit_item span.investigate {color: orange; margin-top: 5px; margin-bottom: 5px;}
div.audit_item span.bad{color: red; margin-top: 5px; margin-bottom: 5px;}
div.audit_item span.ok{color: green; margin-top: 5px; margin-bottom: 5px;}
.morelink_audit_long > i.tip {padding-left: 3px;  float:right; !important }

/* video */
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; } 
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*--SOCIAL NETWORK widgets */
#socialbuttons{margin-top: 26px; }
 @media (max-width: 768px) {
 #socialbuttons{margin-top: 0px; }
}
#topcrumb {margin-top: 26px; }
 .sharrre .buttons {margin-top:-27px;z-index: 10;position: relative;}
 .sharrre .button{float:left;width:75px;}
 .sharrre .facebook {border:0;margin-right:13px;}
 .sharrre .twitter {border:0;}
 .sharrre .googleplus {padding:0;}
 .sharrre .share {color:#656565;height:27px;line-height:27px;width:250px;display:inline-block;font-weight:bold !important;z-index: 1;position: relative;}
 .sharrre .sharrre_social_icons {height:27px;width:80px;margin-right:10px;float:left;background:url('/images/icons/sharrre_social_icons.png');} 
 .sharrre .box .count {color:#ccc;float:left;display:inline-block;font-weight:bold;font-size:22px;line-height:27px;float:left;border-right:2px solid #ccc;margin-right:10px;padding-right:8px;}
 .fb_iframe_widget_lift { z-index: 10; }
 div.box {text-align: right;}


/*--SOCIAL NETWORK */
.digg_icon {background-image: url(http://www.ranks.nl/images/icons/digg.png);padding-left:20px;background-repeat:no-repeat;}
.twitter_icon {background-image: url(http://www.ranks.nl/images/icons/twitter.png);padding-left:20px;background-repeat:no-repeat;}
.linkedin_icon {background-image: url(http://www.ranks.nl/images/icons/linkedin.png);padding-left:20px;background-repeat:no-repeat;}
.delicious_icon {background-image: url(http://www.ranks.nl/images/icons/delicious.png);padding-left:20px;background-repeat:no-repeat;}
.googleplus_icon {background-image: url(http://www.ranks.nl/images/icons/google-plus-1.png);padding-left:20px;background-repeat:no-repeat;}
.facebook_icon {background-image: url(http://www.ranks.nl/images/icons/facebook.png);padding-left:20px;background-repeat:no-repeat;}
.stumbleupon_icon {background-image: url(http://www.ranks.nl/images/icons/stumbleupon.png);padding-left:20px;background-repeat:no-repeat;}
.pinterest_icon {background-image: url(http://www.ranks.nl/images/icons/pinterest.png);padding-left:20px;background-repeat:no-repeat;}


.wot_excellent{background-image: url(http://www.ranks.nl/images/icons/wot_excellent.png);padding-left:20px;padding-bottom:10px;background-repeat:no-repeat;}
.wot_good{background-image: url(http://www.ranks.nl/images/icons/wot_good.png);padding-left:20px;padding-bottom:10px;background-repeat:no-repeat;}
.wot_poor{background-image: url(http://www.ranks.nl/images/icons/wot_poor.png);padding-left:20px;padding-bottom:10px;background-repeat:no-repeat;}
.wot_verypoor{background-image: url(http://www.ranks.nl/images/icons/wot_verypoor.png);padding-left:20px;padding-bottom:10px;background-repeat:no-repeat;}
.wot_unsatisfactory{background-image: url(http://www.ranks.nl/images/icons/wot_unsatisfactory.png);padding-left:20px;padding-bottom:10px;background-repeat:no-repeat;}
.wot_unrated{background-image: url(http://www.ranks.nl/images/icons/wot_unrated.png);padding-left:20px;padding-bottom:10px;background-repeat:no-repeat;}


/*--TABLE STYLING  */
.noborder td {padding: 5px;} 
.single td {border-bottom: 1px solid #efefef; padding: 5px;} 
.rpt td {border-right: 1px solid #efefef;border-bottom: 1px solid #efefef; padding: 5px;} 
.rpt td:last-of-type { border-right: 0px;}
.hover:hover {background-color: #FFFFE1;}

table.tablesorter {
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	letter-spacing:0.5px;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
}
table.tablesorter thead tr .headerSortDown {
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

img.rank {
	box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.inline_ajax {
	float:right;
}

.highlight { background-color: yellow }

#htmltagcloud {
  text-align:  center; 
  line-height: 1.5; 
  padding: 24px;
}

.script_cloud #htmltagcloud span{
cursor:pointer;
}

span.tagcloud0 { font-size: 11px;}
span.tagcloud1 { font-size: 12px;}
span.tagcloud2 { font-size: 13px;}
span.tagcloud3 { font-size: 14px;}
span.tagcloud4 { font-size: 15px;}
span.tagcloud5 { font-size: 16px;}
span.tagcloud6 { font-size: 17px;}
span.tagcloud7 { font-size: 18px;}
span.tagcloud8 { font-size: 19px;}
span.tagcloud9 { font-size: 20px;}
span.tagcloud10 { font-size: 21px;}
span.tagcloud11 { font-size: 22px;}
span.tagcloud12 { font-size: 23px;}
span.tagcloud13 { font-size: 24px;}
span.tagcloud14 { font-size: 25px;}
span.tagcloud15 { font-size: 26px;}
span.tagcloud16 { font-size: 27px;}
span.tagcloud17 { font-size: 28px;}
span.tagcloud18 { font-size: 29px;}

table.showhide {
margin-top: 20px;
}

.snippet {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px; 
  padding-bottom: 8px;
  display: block; 
  width:100%;
  border-top: 1px solid #efefef;
  
}

.hide_title { 
color:#666666;
background-color: #efefef;
padding: 4px;   
box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
cursor: pointer;
}
  
.show_title {
background-color: #efefef;
padding: 4px;
width: 400px;  
margin-bottom: 10px; 
box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}  

.show_title a, .show_title a:hover {
text-decoration: none;
color:#666666;
}

	/* --------pricing tables ------- */	


#fdw-pricing-table {
		margin:0 auto;
		text-align: center;
		width: 928px; /* total computed width */
		zoom: 1;
	}

	#fdw-pricing-table:before, #fdw-pricing-table:after {
	  content: "";
	  display: table
	}

	#fdw-pricing-table:after {
	  clear: both
	}

	/* --------------- */	

	#fdw-pricing-table .plan {
		font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
		background: #fff;      
		border: 1px solid #ddd;
		color: #333;
		padding: 20px;
		width: 160px;
		float: left;
		_display: inline; /* IE6 double margin fix */
		position: relative;
		margin: 0 5px;
		-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);		
	}

	#fdw-pricing-table .plan:after {
	  z-index: -1; 
	  position: absolute; 
	  content: "";
	  bottom: 10px;
	  right: 4px;
	  width: 80%; 
	  top: 80%; 
	  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
	  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  -webkit-transform: rotate(3deg);    
	  -moz-transform: rotate(3deg);   
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);	
	}	
	
	#fdw-pricing-table .popular-plan {
		top: -20px;
		padding: 40px 20px;   
	}
	
	/* --------------- */	

	#fdw-pricing-table .header {
		position: relative;
		font-size: 20px;
		font-weight: normal;
		text-transform: uppercase;
		padding: 40px;
		margin: -20px -20px 20px -20px;
		border-bottom: 8px solid;
		background-color: #eee;
		background-image: -moz-linear-gradient(#fff,#eee);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
		background-image: -webkit-linear-gradient(#fff, #eee);
		background-image: -o-linear-gradient(#fff, #eee);
		background-image: -ms-linear-gradient(#fff, #eee);
		background-image: linear-gradient(#fff, #eee);
	}

	#fdw-pricing-table .header:after {
		position: absolute;
		bottom: -8px; left: 0;
		height: 3px; width: 100%;
		content: '';
		background-image: url(images/bar.png);
	}
	
	#fdw-pricing-table .popular-plan .header {
		margin-top: -40px;
		padding-top: 60px;		
	}

	#fdw-pricing-table .plan1 .header{
		border-bottom-color: #446a81;
	}

	#fdw-pricing-table .plan2 .header{
		border-bottom-color: #62b6cb;
	}

	#fdw-pricing-table .plan3 .header{
		border-bottom-color: #1b4965;
	}

	#fdw-pricing-table .plan4 .header{
		border-bottom-color: #6d8b9d;
	}			
	#fdw-pricing-table .plan5 .header{
		border-bottom-color: #5fa8d3;
	}	
	/* --------------- */

	#fdw-pricing-table .price{
		font-size: 38px;
	}

	#fdw-pricing-table .monthly{
		font-size: 13px;
		margin-bottom: 20px;
		text-transform: uppercase;
		color: #999;
	}

	/* --------------- */

	#fdw-pricing-table ul {
		margin: 20px 0;
		padding: 0;
		list-style: none;
	}

	#fdw-pricing-table li {
		padding: 10px 0;
	}
	
	/* --------------- */
		
	#fdw-pricing-table .signup {
		position: relative;
		padding: 10px 20px;
		color: #fff;
		font: bold 14px Arial, Helvetica;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;       
		background-color: #72ce3f;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;     
		text-shadow: 0 -1px 0 rgba(0,0,0,.15);
		opacity: .9;       
	}

	#fdw-pricing-table .signup:hover {
		opacity: 1;       
	}

	#fdw-pricing-table .signup:active {
		-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
		box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
	}			

	#fdw-pricing-table .plan1 .signup{
		background: #446a81;
	}

	#fdw-pricing-table .plan2 .signup{
		background: #62b6cb;
	}

	#fdw-pricing-table .plan3 .signup{
		background: #1b4965;
	}

	#fdw-pricing-table .plan4 .signup{
		background: #6d8b9d;
	}	
	#fdw-pricing-table .plan5 .signup{
		background: #5fa8d3;
	}	
	/* end --------------- */

	

